@model InternationalCookies.Data.Models.Register
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>


    <h4>Create a new Cookie store account</h4>
    <hr />    
    <span>
        Your account is being created. You will receive an email when it is ready. 
    </span>