@{
    ViewData["Title"] = "Home Page";
}

<img src="https://intcookie.azureedge.net/cdn/cookie.jpg" alt="cookie" />

<span style="font-size:xx-large">We trade cookies all over the world!</span>


<div class="row">

    <div class="col-md-4">
        <h2>Cookies!</h2>
        <ul>
            <li>We love all cookies!</li>
            <li>Chocolate Cookie,</li>
            <li>Butter Cookie,</li>
            <li>Macaroons</li>
            <li>You name it, we love them!</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <ul>
            <li>Register your store to order cookies</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>We are</h2>
        <ul>
            <li>International Cookies</li>
            <li>We send cookies to our stores</li>
            <li>All over the world</li>
            <li>In 150 countries</li>
        </ul>
    </div>
</div>
