@{
    ViewData["Title"] = "About";
}
<h2>About this application</h2>
<h3>This is a demo application that accompanies a <a href="https://app.pluralsight.com/library/courses/azure-paas-building-global-app/" target="_blank">Pluralsight</a> course</h3>

<p>This application is created as an example application to show how to create a web application that is used globally and hosted in Microsoft Azure.</p>
<p>You can find the code for this application on <a href="https://github.com/bmaluijb/InternationalCookies" target="_blank">GitHub.</a></p>
<p>If you have any questions about this app, contact <a href="mailto:barry@waardedoorit.nl">barry@waardedoorit.nl</a></p>
